PRAGMA foreign_keys = ON;

CREATE TABLE IF NOT EXISTS players (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT NOT NULL UNIQUE,
    class_name TEXT,
    role TEXT,
    active INTEGER NOT NULL DEFAULT 1,
    notes TEXT,
    created_at TEXT NOT NULL DEFAULT CURRENT_TIMESTAMP
);

CREATE TABLE IF NOT EXISTS raids (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    raid_date TEXT NOT NULL,
    instance_name TEXT NOT NULL,
    phase TEXT,
    notes TEXT,
    created_at TEXT NOT NULL DEFAULT CURRENT_TIMESTAMP
);

CREATE TABLE IF NOT EXISTS attendance (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    raid_id INTEGER NOT NULL,
    player_id INTEGER NOT NULL,

    on_time INTEGER NOT NULL DEFAULT 0,
    full_raid INTEGER NOT NULL DEFAULT 0,
    full_consumes INTEGER NOT NULL DEFAULT 0,
    benched_ready INTEGER NOT NULL DEFAULT 0,
    missed_raid INTEGER NOT NULL DEFAULT 0,

    created_at TEXT NOT NULL DEFAULT CURRENT_TIMESTAMP,

    FOREIGN KEY (raid_id) REFERENCES raids(id) ON DELETE CASCADE,
    FOREIGN KEY (player_id) REFERENCES players(id) ON DELETE CASCADE,
    UNIQUE (raid_id, player_id)
);

CREATE TABLE IF NOT EXISTS dkp_transactions (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    player_id INTEGER NOT NULL,
    raid_id INTEGER,

    amount INTEGER NOT NULL,
    transaction_type TEXT NOT NULL,
    reason TEXT NOT NULL,
    officer TEXT,
    created_at TEXT NOT NULL DEFAULT CURRENT_TIMESTAMP,

    FOREIGN KEY (player_id) REFERENCES players(id) ON DELETE CASCADE,
    FOREIGN KEY (raid_id) REFERENCES raids(id) ON DELETE SET NULL
);

CREATE TABLE IF NOT EXISTS loot (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    player_id INTEGER NOT NULL,
    raid_id INTEGER,

    item_name TEXT NOT NULL,
    dkp_cost INTEGER NOT NULL,
    notes TEXT,
    created_at TEXT NOT NULL DEFAULT CURRENT_TIMESTAMP,

    FOREIGN KEY (player_id) REFERENCES players(id) ON DELETE CASCADE,
    FOREIGN KEY (raid_id) REFERENCES raids(id) ON DELETE SET NULL
);

CREATE TABLE IF NOT EXISTS phase_burns (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    phase TEXT NOT NULL,
    burn_percent INTEGER NOT NULL,
    notes TEXT,
    created_at TEXT NOT NULL DEFAULT CURRENT_TIMESTAMP
);

CREATE VIEW IF NOT EXISTS current_dkp AS
SELECT
    p.id AS player_id,
    p.name,
    p.class_name,
    p.role,
    COALESCE(SUM(t.amount), 0) AS current_dkp
FROM players p
LEFT JOIN dkp_transactions t
    ON p.id = t.player_id
WHERE p.active = 1
GROUP BY p.id, p.name, p.class_name, p.role;

CREATE INDEX IF NOT EXISTS idx_players_name
ON players(name);

CREATE INDEX IF NOT EXISTS idx_transactions_player
ON dkp_transactions(player_id);

CREATE INDEX IF NOT EXISTS idx_transactions_raid
ON dkp_transactions(raid_id);

CREATE INDEX IF NOT EXISTS idx_loot_player
ON loot(player_id);

CREATE INDEX IF NOT EXISTS idx_attendance_raid_player
ON attendance(raid_id, player_id);